
holesky/config/operator.json
holesky/config/operator_task_fetcher.offset
mainnet/config/operator.json
mainnet/config/operator_task_fetcher.offset
holesky/config/prover.json
mainnet/config/prover.json
holesky/.env
mainnet/.env
*/config/*.crt
*/config/*.key
