{
    "BlsKeyFile": "~/.eigenlayer/operator_keys/operator.bls.key.json",
    "BlsKeyPassword": "",
    "ProverURL": "https://avs-prover-mainnet1.ata.network:18232",
    "ETHRpcURL": "https://ethereum-rpc.publicnode.com",
    "AggregatorURL": "https://avs-aggregator.ata.network",
    "EigenMetricsIpPortAddress": "0.0.0.0:15682",
    "NodeApiIpPortAddress": "0.0.0.0:15693",
    "AttestationLayerRpcURL": "https://optimism-rpc.publicnode.com",
    "AttestationLayerEcdsaKey": "",
    "RegistryCoordinatorAddress": "0x414696E4F7f06273973E89bfD3499e8666D63Bd4",
    "TEELivenessVerifierAddress": "0x99886d5C39c0DF3B0EAB67FcBb4CA230EF373510"
}
