{
    "BlsKeyFile": "/xxx/.eigenlayer/operator_keys/operator.ecdsa.key.json",
    "EcdsaKeyFile": "/xxx/.eigenlayer/operator_keys/operator.ecdsa.key.json",
    "BlsKeyPassword": "",
    "EcdsaKeyPassword": "",
    "ProverURL": "http://prover:8545",       
        
    "Simulation": false,
    "ETHRpcURL": "https://ethereum-holesky-rpc.publicnode.com",
    "ETHWsURL": "wss://ethereum-holesky-rpc.publicnode.com", 
    "AggregatorURL": "http://aggregator:18545",
    "EigenMetricsIpPortAddress": "0.0.0.0:15682",
    "TaskFetcher": {
        "OffsetFile": "config/operator_task_fetcher.offset",
        "Endpoint": "https://1rpc.io/eth",
        "Topics": [["0x2c32d4ae151744d0bf0b9464a3e897a1d17ed2f1af71f7c9a75f12ce0d28238f"]],
        "Addresses": [
            "0xa13baf47339d63b743e7da8741db5456dac1e556"
        ]
    },
    "RegistryCoordinatorAddress": "0xceC22CaD5d6Ab541C068C88bb1F252F7CbA903d1",
    "TEELivenessVerifierAddress": "0x35f9c0aAB581FEF086f58557fa5725693E94B227"
}
